body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: burlywood;
    text-align: center;
}

img{
    max-width: 200px;
    max-height: 200px;
}

table {
    
    width: 85%;
    border: 1px solid black;
    margin: 0 auto;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.th-center {
    text-align: center;
   
}



.pe {
    background-color: blue;
}

.ethics {
    background-color: purple;
}

.itep-206 {
    background-color: green;
}

.itep-205 {
    background-color: violet;
}

.itel-203 {
    background-color: yellow;
}

.itep-204 {
    background-color: orange;
}

.itep-207 {
    background-color: gray;
}

@media print {
    table {
        font-size: 12px;
        width: 90%;
    }

    .image-container {
        display: none;
    }
}

table {
    page-break-inside: avoid;
}
